.infoRow {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0;
  color: #444;
}

:global(body.dark)  .infoRow {
  color: #ccc;
}


.logo {
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
}
