.infoCard  {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 1.5em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

:global(body.dark) .infoCard {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}