.card-container {
  border-radius: 1rem;
  box-shadow: 0px 10px 20px #7272725b;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: auto;
  align-items: flex-start;
  width: 45rem;
  transition: transform 0.4s ease;
  text-decoration: none;
  padding-bottom: 1.25rem;
  background-color: #fff;
  position: relative;
}

:global(body.dark)  .card-container {
  box-shadow: 0px 10px 20px #4747471e;
  background-color: #1e1e1e;
}

.card-container:hover {
  transform: scale(1.1); 
  z-index: 10;
}

.card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card-title {
  width: 90%;
  margin: 0.75rem auto;
  text-align: center;
  overflow-wrap: break-word;
}

.card-description {
  padding: 0 1.25rem;
  overflow-wrap: break-word;
}

.card-title,
.card-description {
  color: #1a1a1a;
}

:global(body.dark) .card-title,
:global(body.dark) .card-description {
  color: #f0f0f0;
}

