/* Global styles */
body {
  background-color: white;
  color: black;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

/* Dark mode toggle */
.mode-toggle {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: inherit;
  transition: transform 0.2s;
}

.mode-toggle:hover {
  transform: scale(1.2);
}

/* Dark mode styles */
body.dark {
  background-color: #121212;
  color: white;
}

.logo {
    margin-left: 2em;
    color: black;
    width: 5em;
    height: 5em;
}

body.dark .logo {
    color: white;
}


